.title{
    color: black;
    text-align: center;
}

.layout{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    gap: 1%;
    text-align: center;
}
.card{
    box-shadow: 1px 1px 1px 1px gray;   
}
.card > img:hover{
    opacity: 50%;
}

.cart-button{
    display: none;
    color: white;
    background-color: mediumseagreen;
    border: none;
    border-radius: 4px;
}

img{
    width: 80%
}

.info{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1px;
}

p{
    margin: 0;
}
.star{
    width:fit-content;
}
.star-gray{
    width: fit-content;
    fill: gray;
    color: gray;
    stroke:gray;
    display: inline;
}
